---
import Head from "../component/Head.astro";

import "../style/style.css";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  image?: string | undefined;
}

const { title, description, image } = Astro.props;
---

<html lang="en">
  <head>
    <Head title={title} description={description} image={image} />
  </head>
  <body class="scroll">
    <slot />
  </body>
</html>
